exportPattern("^[[:alpha:]]+")

import(
  grid,
  gtable,
  dplyr,
  tidyr,
  ompr,
  ompr.roi,
  ROI,
  ROI.plugin.glpk
)

importFrom("grDevices", "dev.off", "pdf")
importFrom("methods", "is")
importFrom("stats", "as.formula", "chisq.test", "kruskal.test",
           "oneway.test", "sd", "wilcox.test")
importFrom("utils", "tail")