exportPattern("^[[:alpha:]]+")

import(
  grid,
  gtable,
  dplyr,
  ggplot2,
  tidyr
)

importFrom("grDevices", "dev.off", "pdf")
importFrom("methods", "is")
importFrom("stats", "as.formula", "chisq.test", "kruskal.test",
           "oneway.test", "sd", "wilcox.test")
importFrom("utils", "tail")